---
- hosts: nginx_node
  become: yes
  vars_files:
    - /etc/ansible/roles/nginx/vars/nginx_vars.yml
  roles:
    - nginx
    - node-exporter

- hosts: monitoring_node
  become: yes
  vars_files:
    - /etc/ansible/roles/prometheus/vars/main.yml
  roles:
    - prometheus
    - grafana
